<div class="container">
    <div class="row row-padded">
        <div class="col-md-3">
            <h1>Network Performance Test</h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="row row-padded">
        <div class="col-md-8">
            <input ng-model="$ctrl.client"/>
            <input ng-model="$ctrl.server"/>
            <button class="btn-primary btn" ng-click="$ctrl.startTest()">Start Test</button>
        </div>
    </div>
</div>
<div class="container">
    <div class="row row-padded">
        <div class="col-md-12">
            <table class="table table-hover table-responsive table-striped table-bordered">
                <thead>
                <tr>
                    <th>Date Executed</th>
                    <th>Client IP Address</th>
                    <th>Server IP Address</th>
                    <th>Client to Server Bandwidth</th>
                    <th>Server to Client Bandwidth</th>
                    <th>Message</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="test in $ctrl.tests">
                    <td>{{test.timestamp}}</td>
                    <td>{{test.client_ip}}</td>
                    <td>{{test.server_ip}}</td>
                    <td>{{test.forward_bandwidth}}</td>
                    <td>{{test.reverse_bandwidth}}</td>
                    <td>{{test.message}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
